# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI={YOUR_BACKEND_URL}/google/callback

# Google OAuth Endpoints
TOKEN_URL=https://oauth2.googleapis.com/token
USER_INFO_URL=https://www.googleapis.com/oauth2/v2/userinfo
ACCESS_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/v2/auth

# Database Configuration
MONGO_URI=your_mongodb_uri_here

# Telegram Bot Configuration
BOT_TOKEN=your_telegram_bot_token_here
BOT_HMAC_SECRET=your_bot_hmac_secret_here
